* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0b0c10;
  color: #C5C6C7;
  font-weight: 300;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition-delay: 99999s;
  -webkit-transition-delay: 99999s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

h1 {
  font-weight: 700;
  line-height: 1.1;
}

a {
  color: #46a29e;
}

a:hover {
  color: #66FCF1;
}

button {
  background-color: #0b0c10;
}

.flex {
  display: flex;
}

.section-wrapper-black {
  background-color: #0b0c10;
}

.section-wrapper-grey {
  background-color: #202833;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.slide {
  transform: translateX(0);
}

.btn {
  color: #66FCF1;
  background-color: none;
  border: none;
  border: 2px solid #66FCF1;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  transition: color 0.2s, background 0.2s;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  background-color: #66FCF1;
  color: #0b0c10;
}
@media (max-width: 480px) {
  .btn {
    font-size: 1rem;
  }
}

.btn-solid {
  background-color: #66FCF1;
  color: #0b0c10;
}
.btn-solid:hover {
  background-color: #0b0c10;
  color: #66FCF1;
}

input[type=text],
textarea,
input[type=email],
input[type=email]:focus {
  background: none;
  border: none;
  border-left: 2px solid #66FCF1;
  border-bottom: 2px solid #66FCF1;
  color: #C5C6C7;
  font-size: 1.2rem;
  padding: 0.5rem 0.75rem;
}

.faded-line {
  background: linear-gradient(270.02deg, rgba(70, 162, 158, 0) 0.02%, #46A29E 37.01%, #46A29E 61.8%, rgba(70, 162, 158, 0) 101.17%);
  width: clamp(18rem, -0.7500rem + 83.3333vw, 43rem);
  margin: 0 auto;
  height: 5px;
  transform: translateY(-15px);
}
@media (max-width: 768px) {
  .faded-line {
    transform: translateY(-10px);
  }
}
@media (max-width: 480px) {
  .faded-line {
    transform: translateY(-5px);
  }
}

.player {
  width: 100%;
  height: 200px;
}

.page-title {
  font-size: clamp(2rem, -0.3802rem + 10.5785vw, 5rem);
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

header {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 0;
}
header .logo {
  font-size: clamp(1.5rem, 0.6074rem + 3.9669vw, 3rem);
  color: #66FCF1;
}
header .logo a {
  color: #66FCF1;
  text-decoration: none;
}
header .logo-line-two {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
}

.main-nav {
  height: 100%;
}
@media (max-width: 768px) {
  .main-nav {
    background-color: #0b0c10;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
  }
}
.main-nav .nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 1.2rem;
}
@media (max-width: 965px) {
  .main-nav .nav-list {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .main-nav .nav-list {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 1rem;
  }
}
.main-nav .nav-item {
  border-right: 1px solid #C5C6C7;
  padding: 0 0.75rem;
}
.main-nav .nav-item:last-child {
  border-right: none;
}
@media (max-width: 965px) {
  .main-nav .nav-item {
    padding: 0 0.5rem;
  }
}
@media (max-width: 768px) {
  .main-nav .nav-item {
    border-right: none;
  }
}
.main-nav .nav-item-link {
  text-decoration: none;
  color: #C5C6C7;
}
.main-nav .nav-item-link:hover {
  color: #66FCF1;
}
.main-nav .active {
  color: #46a29e;
}

.burger-menu {
  width: 40px;
  background-color: #0b0c10;
  border: 1px solid #66FCF1;
  display: none;
  z-index: 3;
  cursor: pointer;
}
@media (max-width: 768px) {
  .burger-menu {
    display: block;
    z-index: 1101;
    cursor: pointer;
  }
}

.burger-bar {
  width: 25px;
  height: 2px;
  background-color: #66FCF1;
  margin: 5px auto;
}

@media (max-width: 768px) {
  .slide {
    transform: translateX(0);
  }

  .burger-move .top-line {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-move .middle-line {
    opacity: 0;
  }

  .burger-move .bottom-line {
    transform: rotate(45deg) translate(-4px, -5px);
  }
}
header a .active {
  color: red;
}

#hero-wrapper {
  height: 75vh;
  background: linear-gradient(107.46deg, #0B0C10 31.15%, rgba(11, 12, 16, 0.1) 98.83%), url(../images/microphone-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: 100%;
  padding: 2rem 0;
}
.hero .hero-content {
  height: 100%;
}
.hero .hero-content h2 {
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 4rem;
}
@media (max-width: 480px) {
  .hero .hero-content h2 {
    margin-bottom: 1.5rem;
  }
}
.hero .hero-content .slogan {
  font-size: clamp(1.5rem, -0.5826rem + 9.2562vw, 5rem);
}
.hero .hero-content .slogan-line-two {
  display: block;
  font-size: clamp(1rem, -0.1901rem + 5.2893vw, 3rem);
  margin: 0.5rem 0;
}
.hero .hero-content h3 {
  font-size: clamp(1rem, 0.2860rem + 3.1736vw, 2.2rem);
}
.hero .hero-content ul {
  font-size: clamp(1rem, 0.5835rem + 1.8512vw, 1.7rem);
  transform: translateX(2rem);
  margin-bottom: 2rem;
}
@media (max-width: 480px) {
  .hero .hero-content ul {
    margin-bottom: 1rem;
  }
}
.hero .hero-content .hero-link-group a {
  text-decoration: none;
  margin-right: 2rem;
}
@media (max-width: 768px) {
  .hero .hero-content .hero-link-group a {
    margin-right: 0;
    margin-bottom: 2rem;
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .hero .hero-content .hero-link-group {
    display: flex;
    flex-direction: column;
  }
}

#current-episodes {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  gap: 50px;
}
@media (max-width: 768px) {
  #current-episodes {
    grid-template-columns: minmax(10px, 1fr);
  }
}
#current-episodes h2 {
  font-weight: 400;
  font-size: clamp(1.5rem, 0.6880rem + 3.6090vw, 3rem);
  margin-bottom: 1.5rem;
}

.current iframe {
  margin-bottom: 2rem;
}

.how-to-listen .podcast-logo-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.how-to-listen .podcast-logo-group a {
  text-decoration: none;
  display: inline-block;
}
.how-to-listen .podcast-logo-group a:nth-child(even) {
  margin: 0 auto;
}
.how-to-listen .podcast-logo-group i {
  font-size: 5rem;
}
.how-to-listen .podcast-logo-group svg,
.how-to-listen .podcast-logo-group i {
  color: rgba(197, 198, 199, 0.5);
  max-width: 5rem;
  width: 100%;
  transition: color 0.2s ease-in-out;
}
.how-to-listen .podcast-logo-group svg:hover,
.how-to-listen .podcast-logo-group i:hover {
  color: #C5C6C7;
}
.how-to-listen .podcast-logo-group .pocket {
  max-width: 16rem;
}

#about {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: max-content minmax(10px, 1fr);
}
@media (max-width: 768px) {
  #about {
    grid-template-columns: minmax(10px, 1fr);
  }
}
@media (max-width: 480px) {
  #about {
    padding: 2.5rem 0;
  }
}

.about-content {
  margin-left: 2rem;
}
@media (max-width: 480px) {
  .about-content {
    margin-left: 0;
  }
}
.about-content h2 {
  font-size: clamp(1.5rem, 0.6880rem + 3.6090vw, 3rem);
  line-height: 1;
  margin-bottom: 2rem;
}
.about-content p {
  max-width: 50ch;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 480px) {
  .about-content p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .about-content {
    order: 1;
  }
}
@media (max-width: 480px) {
  .about-content .btn {
    font-size: 1rem;
  }
}

.about-logo {
  max-width: 400px;
}
.about-logo img {
  object-fit: cover;
  width: 100%;
}
@media (max-width: 965px) {
  .about-logo {
    display: none;
  }
}

.reviews {
  padding: 6rem 0;
}
@media (max-width: 480px) {
  .reviews {
    padding: 3rem 0;
  }
}
.reviews h2 {
  font-size: clamp(1.5rem, 0.6880rem + 3.6090vw, 3rem);
  margin-bottom: 2rem;
}
.reviews .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .reviews .row {
    flex-direction: column;
  }
}
.reviews .review {
  flex: 1 100%;
  align-self: flex-start;
  background-color: #0b0c10;
  border-radius: 10px;
  padding: 2rem 1.2rem;
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 0 1rem;
  font-weight: 400;
}
.reviews .review:first-child {
  margin-left: 0;
}
.reviews .review p {
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .reviews .review {
    margin: 0 0 2rem 0;
  }
}
.reviews .review-name {
  font-weight: 300;
  font-style: italic;
}

#episodes {
  position: relative;
}
#episodes h1 {
  position: relative;
  z-index: 1;
}

.page-title-group {
  padding: 3rem 0 7rem 0;
}
@media (max-width: 965px) {
  .page-title-group {
    padding: 2rem 0 6rem 0;
  }
}
@media (max-width: 480px) {
  .page-title-group {
    padding: 1rem 0 3rem 0;
  }
}

.episode-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}
@media (max-width: 480px) {
  .episode-container {
    grid-template-columns: minmax(10px, 1fr);
  }
}

.episode-card {
  border-radius: 10px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}
.episode-card figure {
  width: 300px;
}
@media (max-width: 768px) {
  .episode-card figure {
    display: none;
  }
}
.episode-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.episode-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.episode-card-content {
  padding: 1rem;
}

.episode-card-title {
  font-size: clamp(1.4rem, 0.9500rem + 2.0000vw, 2rem);
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.episode-card-title a {
  text-decoration: none;
}

.episode-card-season {
  font-size: clamp(1.1rem, 0.8000rem + 1.3333vw, 1.5rem);
  font-weight: 300;
}

.episode-card-release {
  font-style: italic;
  margin-bottom: 1rem;
}

.episode-card-summary {
  font-size: 1rem;
}

.listen-link {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 1.3rem;
}

footer {
  background-color: #0b0c10;
}
footer h2 {
  font-weight: 400;
  color: #46a29e;
  font-size: 2rem;
}
footer a {
  color: #C5C6C7;
}
footer .footer-content {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  grid-gap: 10px;
}
@media (max-width: 768px) {
  footer .footer-content {
    grid-template-columns: minmax(10px, 1fr);
  }
}
footer .footer-content .footer-subscribe p {
  margin-bottom: 1rem;
}
footer .footer-content .footer-subscribe input[type=email] {
  display: block;
  margin-bottom: 1rem;
  width: 75%;
}
footer .footer-content .footer-subscribe button {
  width: 75%;
}
footer .footer-content .footer-subscribe button:hover {
  background-color: #66FCF1;
  color: #0b0c10;
}
@media (max-width: 768px) {
  footer .footer-content .footer-subscribe {
    margin-bottom: 2rem;
  }
  footer .footer-content .footer-subscribe input,
footer .footer-content .footer-subscribe button {
    width: 100%;
  }
}
footer .footer-content .footer-connect {
  justify-self: stretch;
  text-align: center;
}
@media (max-width: 768px) {
  footer .footer-content .footer-connect {
    text-align: left;
    margin-bottom: 2rem;
  }
}
footer .footer-content .footer-connect ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  footer .footer-content .footer-connect ul {
    margin: 0;
    width: 50%;
  }
}
footer .footer-content .footer-connect a {
  font-size: 2.5rem;
}
footer .footer-content .footer-connect a:hover {
  color: #46a29e;
}
footer .footer-content .footer-site-map {
  justify-self: end;
}
@media (max-width: 768px) {
  footer .footer-content .footer-site-map {
    justify-self: start;
  }
}
footer .footer-content .footer-site-map ul {
  transform: translateX(1.5rem);
}
footer .footer-content .footer-site-map ul li {
  margin-bottom: 0.5rem;
}
footer .footer-content .footer-site-map ul a {
  text-decoration: none;
}
footer .copyright {
  background-color: #202833;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 0.75rem;
}

.show-title-group {
  margin-bottom: 2rem;
  padding: 2rem 0 0 0;
}
.show-title-group h1 {
  font-size: clamp(2rem, 0.8099rem + 5.2893vw, 4rem);
  font-weight: 400;
  margin-bottom: 1.2rem;
}
.show-title-group h2 {
  font-size: clamp(1.6rem, 1.2132rem + 1.7190vw, 2.25rem);
  font-weight: 300;
}
.show-title-group p {
  font-size: clamp(1rem, 0.7025rem + 1.3223vw, 1.5rem);
  font-style: italic;
}

.player {
  margin-bottom: 2rem;
}
@media (max-width: 480px) {
  .player {
    width: 100%;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    font-size: 1rem;
  }
}

.subtitle {
  font-size: clamp(1.6rem, 1.2132rem + 1.7190vw, 2.25rem);
  font-weight: 400;
  margin-bottom: 2rem;
}

.summary {
  background-color: #202833;
  padding: 1.5rem;
  flex-shrink: 1;
  margin-right: 3rem;
}
.summary p {
  max-width: 50ch;
}
@media (max-width: 965px) {
  .summary {
    margin-right: 2rem;
  }
}
@media (max-width: 768px) {
  .summary {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.time-stamps {
  background-color: #202833;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  flex-grow: 1;
}
.time-stamps ul {
  transform: translateX(25px);
  max-width: 60ch;
}
.time-stamps ul li {
  margin-bottom: 0.75rem;
}
@media (max-width: 768px) {
  .time-stamps {
    width: 100%;
    margin-right: 0;
  }
}

.contact-page .section-wrapper-grey {
  padding: 2rem 0;
}
.contact-page h1 {
  position: relative;
  z-index: 1;
}

.form {
  background-color: #0b0c10;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input[type=text],
.form-group input[type=email] {
  background-color: #202833;
}
.form-group input[type=email]:focus,
.form-group input[type=email]:visited {
  background-color: #46a29e;
}

.form-group,
.form-group-checkbox {
  margin-bottom: 3rem;
}

.contact-label {
  color: #46a29e;
  font-size: 1.5rem;
}

.btn-contact {
  display: block;
  width: 100%;
}

#comments {
  background-color: #202833;
  height: 300px;
  font-family: "Poppins", sans-serif;
}

.about .faded-line {
  background: linear-gradient(270.02deg, rgba(70, 162, 158, 0) 0.02%, #46A29E 37.01%, #46A29E 61.8%, rgba(70, 162, 158, 0) 101.17%);
  width: clamp(18rem, -0.7500rem + 83.3333vw, 50rem);
  margin: 0 auto;
  height: 5px;
  transform: translateY(-15px);
}
@media (max-width: 768px) {
  .about .faded-line {
    transform: translateY(-10px);
  }
}
@media (max-width: 480px) {
  .about .faded-line {
    transform: translateY(-5px);
  }
}

.about-host {
  padding: 5rem 0;
  display: flex;
}
@media (max-width: 768px) {
  .about-host {
    flex-direction: column;
  }
}
.about-host img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  grid-area: image;
}
.about-host .chris {
  padding-left: 3rem;
}
@media (max-width: 768px) {
  .about-host .chris {
    padding-left: 0;
    order: -1;
    margin-bottom: 2rem;
  }
}
.about-host .scott {
  padding-right: 3rem;
}
@media (max-width: 768px) {
  .about-host .scott {
    padding-right: 0;
    margin-bottom: 2rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 45%;
}
@media (max-width: 768px) {
  .column {
    width: 100%;
  }
}

.about-host-name {
  font-size: clamp(1.5rem, 0.0197rem + 6.5789vw, 4rem);
  font-weight: 400;
}

.about-host-title {
  font-size: clamp(1rem, 0.5263rem + 2.1053vw, 1.8rem);
  font-weight: 400;
  font-style: italic;
}

.about-host-list-title {
  font-size: 2rem;
  font-weight: 400;
  color: #46a29e;
}

.about-host-text,
.about-host-list {
  font-size: 1.2rem;
}

.about-host-text {
  margin-bottom: 2rem;
}

.about-host-list {
  transform: translateX(25px);
}

.about-listen {
  text-align: center;
  padding: 3rem 0;
}
.about-listen h2 {
  font-size: clamp(1.5rem, 0.0197rem + 6.5789vw, 4rem);
  font-weight: 400;
  margin-bottom: 1rem;
}
.about-listen h3 {
  font-size: clamp(1.5rem, 0.6118rem + 3.9474vw, 3rem);
  font-weight: 400;
}
.about-listen a {
  width: 100%;
  max-width: 400px;
  margin-bottom: 4rem;
}
.about-listen .podcast-logo-group {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.about-listen .podcast-logo-group a {
  color: rgba(197, 198, 199, 0.5);
  text-decoration: none;
  font-size: 6rem;
  margin: 0;
}
.about-listen .podcast-logo-group a:hover {
  color: #c5c6c7;
}
@media (max-width: 768px) {
  .about-listen .podcast-logo-group {
    flex-direction: column;
    align-items: center;
  }
}

#thanks {
  height: 75vh;
  background: linear-gradient(107.46deg, #0B0C10 31.15%, rgba(11, 12, 16, 0.1) 98.83%), url(../images/microphone-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thanks {
  margin-top: 5rem;
}
.thanks h1 {
  font-size: clamp(1.5rem, 0.0197rem + 6.5789vw, 4rem);
  font-weight: 400;
  margin-bottom: 3rem;
}
.thanks p {
  font-size: clamp(1rem, 0.7039rem + 1.3158vw, 1.5rem);
  margin-bottom: 3rem;
}/*# sourceMappingURL=main.css.map */