<footer id="footer">
  <div class="footer-content section-wrapper container">

    <div class="footer-subscribe">
      <h2 id="subscribe">Subscribe</h2>
      <p>Get email updates when new episodes are released</p>
      <form action="https://formsubmit.co/0615e76a1ceb7792294949a3aa40fbed" method="POST" aria-labelledby="subscribe">
        <label for="footer-email">Enter Email</label>
        <input type="email" id="footer-email" name="footer-email" placeholder="Email Address" required>
        <input type="hidden" name="_subject" value="New Listener!">
        <input type="hidden" name="_autoresponse" value="Thank You for subscribing.  We will contact you when a new episode is released">
        <input type="hidden" name="_next" value="https://wooo-podcast.netlify.app/thanks.html">
        <button type="submit" class="btn" id="subscribe-button-footer">Submit</button>

      </form>
    </div>

    <div class="footer-connect">
      <h2>Connect</h2>
      <ul class="social-icons">
        <li>
          <a href="https://www.facebook.com/WereOutOfOrder" aria-label="Social Media Link"><i class="fab fa-facebook-square " title="facebook "></i></a></li>
        <li><a href="https://twitter.com/WereOutOfOrder " aria-label="Social Media Link"><i class="fab fa-twitter-square " title="twitter "></i></a></li>
        <li><a href="https://www.instagram.com/WereOutOfOrder/ " aria-label="Social Media Link"><i class="fab fa-instagram-square " title="instagram "></i></a></li>
      </ul>
    </div>

    <div class="footer-site-map ">
      <h2>Site Map</h2>
      <ul>
        <li><a href="/ ">Home</a></li>
        <li><a href="/episodes.html ">Episodes</a></li>
        <li><a href="/about.html ">About Us</a></li>
        <li><a href="/contact.html ">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <p class="copyright ">Copyright 2021 All Rights Reserved We're Out Of Order: The Podcast</p>
</footer>