<header class="container">
  <h1 class="logo">
    <a href="index.html">We're Out Of Order:<span class="logo-line-two">The Podcast</span></a>
  </h1>
  <nav class="main-nav" aria-label="Primary">
    <ul class="nav-list" id="nav-list" role="menubar" aria-label="Primary">
      <li class="nav-item" role="none"><a class="nav-item-link" href="index.html" role="menuitem">Home</a></li>
      <li class="nav-item" role="none"><a class="nav-item-link" href="episodes.html" role="menuitem">Episodes</a></li>
      <li class="nav-item" role="none"><a class="nav-item-link" href="about.html" role="menuitem">About Us</a></li>
      <li class="nav-item" role="none"><a class="nav-item-link" href="contact.html" role="menuitem">Contact Us</a></li>
    </ul>
  </nav>
  <div class="burger-menu" role="button" aria-label="Menu Button">
    <div class="burger-bar top-line"></div>
    <div class="burger-bar middle-line"></div>
    <div class="burger-bar bottom-line"></div>
  </div>
</header>